@import 'icon/*.png';
@include all-icon-sprites;


header{
	text-align: center;
	font-family: 'Poiret One', cursive;
	margin-top: -250px;



	h1{
		font-size: 400%;
	}
	p{
		padding-right: 20%;
		padding-left: 20%;
		font-size: 150%;
	}

}



body{
	background-color: #FFE4E1;
}

nav{
	
	text-align: left;
	margin-left: -85px;
	ul{
		li{
			a{
				color: green;
			}
			a:hover{
				color: white;
				text-decoration: underline;

			}
		}
	}
	
}

section{
	text-align: center;
	margin-top: 5%;

	
}





li{

	list-style-type: none;
	display: inline-block;
	padding: 10px;
	font-family: 'Lobster', cursive;
	color: green;
	text-decoration: none;
	font-size: 200%;
	padding-bottom: 3%;
	padding-right: 3%;


		a{
			display: flex;
			justify-content: space-around;
			/* display: inline-block; */
			width: 245px;
			height: 232px;
			




			span{
				position: absolute;
				top: -9999em;
				left: -9999em;
			}//go

		}//icons
}//li

