body{
	margin: 2%;
}

/* 

---------------------------------grid----------------------------- */
// you must change this if you want to add secitons

.site-grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr .5fr 1fr 1fr 1fr;
	grid-gap: 2%;

	grid-template-areas:
	"name name"
	"navigation navigation"
	"content next-to"
	"content next-to"
	"footy footy"

}